.main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh;
}
.content {
  width: 85%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin: 2rem auto;
}
.info h1 {
  margin: 1rem 0;
  color: #fff;
  font-size: 44px;
}
.info p {
  color: #9c9c9c;
}
.mainBtn {
  margin: 2rem 0;
  padding: 1rem 2rem;
  cursor: pointer;
  background: #3f8e00;
  border: 1px solid #62ba1b;
  box-shadow: 0px 8px 30px rgba(63, 142, 0, 0.3);
  border-radius: 4px;
  color: #ffffff;
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
}
.profilePic {
  border-radius: 50em;
}

@media screen and (max-width: 720px) {
  .content {
    flex-direction: column;
  }
  .content h1 {
    font-size: 32px;
  }
  .profilePic {
    margin-top: 2rem;
    max-width: 280px;
    max-height: 280px;
  }
}

.workPartnersContainer {
  width: 100%;
  color: #fff;
}
.workPartners {
  margin-top: 1.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 2rem;
  flex-wrap: wrap;
}
.box {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid #1b1b1b;
  border-radius: 6px;
}
.partnerLogo {
  /* min-width: 150px; */
}
